@model ApiCargaWebInterface.ViewModels.CmsDataViewModel
@using CsvHelper
@using System.Globalization
@using System.IO
@using System.Text
@{
    Layout = "_Layout";
    ViewData["BodyClass"] = "tipo-home";
	ViewData["Title"] = "Proyecto ASIO";
	ViewData["MetaData"] = "<meta name=\"description\" content=\"Web pública del Proyecto Hércules ASIO de la Universidad de Murcia\">";
}
        <div class="row full-row">
            <div class="col col-12">
                <div class="banner">
                    <p>Banner - presentación</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h1>Hércules ASIO - Arquitectura Semántica Infraestructura Ontológica</h1>
            <div class="col col-12 col-md-6">
                <div class="bloque-texto">
                    <div class="imagen"></div>
                    <div class="contenido">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                        <p><b>Lorem ipsum dolor sit amet</b>, consectetur adipiscing elit. Aliquam eleifend, ex elementum molestie varius, purus erat imperdiet nunc, in scelerisque ipsum ante ac risus. Praesent et metus id eros rhoncus maximus nec porta ante. In posuere ...</p>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-3">
                <div class="bloque-texto">
                    <div class="imagen"></div>
                    <div class="contenido">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, ex elementum molestie varius, purus erat imperdiet nunc...</p>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-3">
                <div class="bloque-texto">
                    <div class="imagen"></div>
                    <div class="contenido">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, ex elementum molestie varius, purus erat imperdiet nunc...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-4">
                <div class="bloque-texto">
                    <div class="imagen"></div>
                    <div class="contenido">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, ex elementum molestie varius, purus erat imperdiet nunc...</p>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-4">
                <div class="bloque-texto">
                    <div class="imagen"></div>
                    <div class="contenido">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, ex elementum molestie varius, purus erat imperdiet nunc...</p>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-4">
                <div class="bloque-texto">
                    <div class="imagen"></div>
                    <div class="contenido">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, ex elementum molestie varius, purus erat imperdiet nunc...</p>
                    </div>
                </div>
            </div>
        </div>
